@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

/* 
It´s important to know that the root element is the html element and it´s the reference for em for exemple.
*/

html{
    font-size: 16px;
    
}
/*
you can´t use width: 100vw because the scrool bar steel 10px from the viewport
so it will be showing the button scroll bar to complete that 10px.
So... you must use width: 100% */
body{
    width: 100%;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
    position: relative;
    font-family: 'Outfit', sans-serif;
}

.main_container{

    width:290px;
    height:450px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    display: flex;
   align-items: center;
   flex-direction:column;

}
.image_container{

    margin:15px;
    width: 262px;
    height: 263px;
}
.title_container{
   
    color:hsl(218, 44%, 22%);
    text-align:center;
    width: 230px;
    height: 43px;
    margin-bottom: 15px;
    font-weight: 700;

}
.paragraph_container{

    width:230px;
    height: auto;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color:hsl(220, 15%, 55%);

}
.attribution{

     font-size: 11px; text-align: center;
     position:absolute;
     bottom:70px;
     left:50%;
     transform: translate(-50%);
 }
.attribution a {

     color: hsl(228, 45%, 44%);

 }

 